.admin-dashboard {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.admin-sections {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.admin-section {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.admin-section h2 {
  color: #333;
}

.admin-section p {
  font-size: 16px;
  color: #666;
  margin: 10px 0 20px;
}

button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004080;
}
.admin-dashboard {
  position: relative;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logout-button:hover {
  background-color: #c82333;
}

.logout-button:focus {
  outline: none;
}
