html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Arial", sans-serif;
  overflow-y: auto;
}

.containerMain {
  background-color: rgba(
    34,
    34,
    34,
    0.7
  ); /* Darker semi-transparent background */
  margin-top: 80px; /* Push down from the toolbar, adjust as needed */
  margin-bottom: 20px;
  width: 80%;
  max-width: 1200px; /* Maximum width of the container */
  margin-left: auto; /* Center the container */
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Clipping any child overflow */
  position: relative; /* For layered positioning */
  z-index: 1; /* Ensure it's above other elements */
  color: #fff; /* White text */
}

h1 {
  color: #39ff14; /* Neon green */
  text-align: center;
  width: 100%;
}

.service-card {
  background-color: rgba(
    50,
    205,
    50,
    0.2
  ); /* Semi-transparent green background */
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  display: flex;
  padding: 15px;
  text-align: justify;
  border-radius: 10px;
}

.service-card img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.service-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the start */
  flex-grow: 1;
}

.title-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.service-card h2 {
  color: black;
  padding-left: 20px;
  margin: 0;
  font-size: 28px;
  background-color: #39ff14; /* Neon green background */
  text-align: left;
  border-radius: 5px 0 0 5px; /* Rounded corners for the title */
  height: 60px; /* Fixed height for the title */
  display: flex;
  align-items: center;
  width: 73%;
}

.details-button {
  padding: 0 20px;
  background: linear-gradient(
    145deg,
    #39ff14,
    #adff2f
  ); /* Neon green to lime gradient */
  border: none;
  border-radius: 0 5px 5px 0; /* Rounded corners for the button */
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  height: 60px; /* Match the height of the title */
  width: 160px; /* Fixed width for the button */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.details-button:hover {
  background: linear-gradient(
    145deg,
    #adff2f,
    #39ff14
  ); /* Reversed gradient on hover */
}

.service-card p {
  padding: 15px 20px;
  margin: 0; /* Remove top margin to avoid extra space */
  color: whitesmoke;
  font-size: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar {
  width: 100%; /* Adjusts width to full container width */
  display: flex;
  justify-content: center; /* Centers the search input */
  margin-bottom: 10px; /* Space between search bar and dropdowns */
}

.dropdown-group {
  display: flex;
  justify-content: center; /* Centers the dropdowns */
  gap: 10px; /* Provides space between dropdowns */
}

.filters input[type="text"],
.filters select {
  padding: 8px;
  border: 1px solid #39ff14; /* Neon green border */
  border-radius: 4px;
  background-color: rgba(
    57,
    255,
    20,
    0.1
  ); /* Semi-transparent neon green background */
  color: #fff; /* White text */
  cursor: pointer;
  width: 100%;
  max-width: 300px; /* Maximum width of inputs and selects */
}

.filters select option {
  background-color: rgba(
    34,
    34,
    34,
    0.9
  ); /* Darker semi-transparent background */
  color: #39ff14; /* Neon green text */
}

@media (max-width: 768px) {
  .filters {
    width: 90%; /* Responsive width on smaller screens */
  }

  .dropdown-group {
    flex-direction: column; /* Stacks dropdowns vertically on small screens */
  }
}
