/* Styles for the Orders page container */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.orders-container {
  max-width: 1000px;
  margin: 75px auto;
  padding: 20px;
  background-color: rgba(
    34,
    34,
    34,
    0.9
  ); /* Darker semi-transparent background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff; /* White text for better contrast */
}

/* Heading styles within the Orders component */
.orders-container h1 {
  color: #39ff14; /* Neon green text */
  font-size: 28px;
  margin-bottom: 20px;
}

.orders-container h2 {
  color: #adff2f; /* Lighter green text */
  font-size: 24px;
  margin-top: 20px;
}

/* Individual order entry styling */
.order-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
  background-color: rgba(
    50,
    205,
    50,
    0.2
  ); /* Semi-transparent green background */
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.order-entry:hover {
  background-color: rgba(50, 205, 50, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style for order details */
.order-details {
  flex-grow: 1;
  font-size: 16px;
  color: white;
  font-style: bold;
  line-height: 1.5;
  text-align: left;
}

/* Clear separation of roles (Buyer/Seller) */
.role-section {
  margin-bottom: 40px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .orders-container {
    margin: 20px;
    padding: 10px;
  }

  .orders-container h1 {
    font-size: 24px;
  }

  .orders-container h2 {
    font-size: 20px;
  }

  .order-entry {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .order-details {
    font-size: 14px;
  }

  .order-actions {
    width: 100%;
    justify-content: space-around;
  }
}

/* Order actions */
.order-actions {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.order-actions button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #95f13f;
  color: black;
  font-size: 16px;
  transition: background-color 0.2s;
}

.order-actions button:hover {
  background-color: #b5f37b;
}

/* Completed and Partially Completed Order Sections */
.completed-section .order-entry {
  background-color: #28a745; /* Green for completed orders */
  color: #fff;
}

.partial-completed-section .order-entry {
  background-color: #ffc107; /* Yellow for partially completed orders */
  color: #fff;
}

/* Modal styles */
.modal-o {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  z-index: 1050; /* High z-index to ensure it is on top */
  color: whitesmoke;
}

.modal-content-o {
  position: relative;
  padding: 30px; /* Increased padding for better spacing */
  width: auto; /* Auto width based on content with max limit */
  max-width: 90%; /* Max width to prevent too wide modals on large screens */
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 15px; /* Smoother corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  text-align: center;
  transition: transform 0.3s ease-out; /* Smooth transform on open/close */
}

.modal-o-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  color: #666; /* Subtle color */
}

/* Button styling within the modal */
.modal-content-o button {
  padding: 10px 20px;
  margin: 10px; /* Space between buttons */
  background-color: #95f13f; /* Theme color for buttons */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth background color transition */
}

.modal-content-o button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Animate modal appearance for better UX */
@keyframes modalOpen {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content-o {
  animation: modalOpen 0.3s ease-out forwards;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white; /* Darker text */
  background-color: rgba(255, 255, 255, 0.9); /* Light background */
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #95f13f;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #95f13f;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button.cancel-button {
  background-color: #dc3545;
}

button.cancel-button:hover {
  background-color: #c82333;
}

.form-error {
  color: red;
  margin: 10px 0;
}

/* Rating container */
.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  color: white;
}

/* Rating label */
.rating-label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  color: white;
}

/* General styles for the range input */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0 10px;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

/* Styles for the slider track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px; /* Adjust height to match the thumb */
  background: #39ff14; /* Change to your desired color */
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px; /* Adjust height to match the thumb */
  background: #39ff14; /* Change to your desired color */
  border-radius: 5px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px; /* Adjust height to match the thumb */
  background: #39ff14; /* Change to your desired color */
  border-radius: 5px;
  border-color: transparent;
  color: transparent;
}

/* Styles for the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: gray; /* Change to your desired color */
  cursor: pointer;
  border-radius: 50%;
  margin-top: -6px; /* Align the thumb with the track */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: gray;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: gray; /* Change to your desired color */
  cursor: pointer;
  border-radius: 50%;
}

/* Specific styles for Firefox to ensure proper alignment */
input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-moz-range-thumb {
  border: none;
}
